INTRODUCTION:

Scientific calculators are used widely in situations that require quick access to certain mathematical functions, especially those that were once looked up in mathematical tables, such as trigonometric functions or logarithms. They are also used for calculations of very large or very small numbers, as in some aspects of astronomy, physics, and chemistry.
They are very often required for math classes from the junior high school level through college, and are generally either permitted or required on many standardized tests covering math and science subjects; as a result, many are sold into educational markets to cover this demand, and some high-end models include features making it easier to translate a problem on a textbook page into calculator input, e.g. by providing a method to enter an entire problem in as it is written on the page using simple formatting tools.

FEATURES:
1.	Basic functions and exponents: 
         Calculate basic functions such as addition, subtraction, multiplication, and division. You should keep in mind that the subtraction sign (-) is different from a separate negative function. This can end up causing some confusion concerning negative and positive numbers when you start using your calculator at first because the signs look similar.
2.	Logarithms
3.	Sine, cosine and tangent functions
4.	Scientific notations
5.	Binary functions

SWOT Analysis:
  
1)Strengths:- 
The ultimate strength of Calculators is its innovative and user-friendly products.  calculators are long-lasting, and they have almost all kinds of calculators such as basic, scientific, graphing, financial, etc. Their technological expertise is one of the greatest. Workforce with more than 10000 people and powerful marketing has made it a market giant among tech-based businesses
2)Weaknesses:-
 For example, Casio has a strong brand image for manufacturing calculators, but at the same time, this brand image works as a stereotype for them. It is Casio’s weakness. Casio has many other wonderful product lines other than calculators, but people don’t rely on them much when buying something than calculators. Even though this company has a wide range of product portfolio, it’s prolonged when it comes to launching new products matching the changing customer’s needs. As a result, those who want a change in their electronics accessories tend to avoid Casio.
3)Opportunities:-
 The tech-based market has a huge opportunities in capturing the youth market. Because since the beginning of childhood, we got introduced to Calculator as a helping partner in mathematics. We accepted it as a companion, and an emotional attachment grew. So if Casio launches any innovative products for the youth generation, they won’t think much before give it a try. Also, sponsoring different events and working towards the educational improvement campaigns can add more segments to their customer base.
4)Threats:- 
Although Casio enjoys a substantial competitive advantage in the calculator business, strong competitors such as Nikon, Fastrack, etc. are emerging daily and gaining popularity among people. Also, due to the stereotype image for “Only a calculator brand,” it’s getting hard for Casio to enter sports and other tech-product lines as there’re already many strong brands are ruling. Their slower growth in technological innovation will also bring a significant threat in the upcoming dynamic world.

  HLR1	Switch on the calculator
  HLR2	Perform basic operations (+,-,*,/)
  HLR3	Performing logarithms, factorial, power, etc
        LLR1	Showcase history
        LLR2	 clear
        LLR3	Switch off the calculator
	                      




